@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	background-image: url("https://res.cloudinary.com/dalzs7bc2/image/upload/v1719307526/12345_eflhsw.jpg");
	background-size:cover;
	height:100%;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 7em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #5ca6d0, #ada6aa, #42ade3, #bcc8ce);
    background-size: 300%;
    border-radius: 30px;
	 margin-top: 20px;
    z-index: 1;
  }
button:hover {
   animation: ani 8s linear infinite;
   border: none;
}
@keyframes ani {
   0% {
      background-position: 0%;
   }
   100% {
      background-position: 400%;
   }
}  
button:before {
   content: "";
   position: absolute;
   top: -5px;
   left: -1px;
   right: -5px;
   bottom: -5px;
   z-index: -1;
   background: linear-gradient(90deg, #59a7e7, #c8bec4, #6fbbea, #cdd3d6);
   background-size: 400%;
   border-radius: 35px;
   transition: 1s;
}  
button:hover::before {
   filter: blur(20px);
}  
button:active {
   background:  #9fc2e6;
}
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
   border-radius: 30px;
	margin: 6px 0;
	width: 100%;
}
input:focus {
	outline: 2px solid #75bae5;
}
.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}
.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}
.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}
.back {
	position: absolute;
	top: 20px;
	left: 40px;
	z-index: 3;
}
.back img {
	opacity: 1;
	border: none;
	width: 40px;
}
.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}
.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}
.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}
@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}
.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}
.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}
.overlay {
	background: #51b1d4;
	background: -webkit-linear-gradient(to right, #68b3ca, #7bb5ce);
	background: linear-gradient(to right, #75bae5, #81bdd1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 15px 0;
}
.social {
	background-color: #33333321;
	margin: 0 5px;
	padding: 8px;
	border-radius: 20px;
}
.social i {
	width: 20px;
}
footer {
   background-color: #222;
   color: #fff;
   font-size: 14px;
   bottom: 0;
   position: fixed;
   left: 0;
   right: 0;
   text-align: center;
   z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 1px;
	width: 400px;
	opacity:0.2;
	
}
.user-box {
	position: relative;
	width: 100%;
}
.password-toggle-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 16px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}

.forgot-password-container {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	width: 350px;
	height: 300px;
	max-width: 200%;
	backdrop-filter: blur(5px);
	margin-right: 30px;
	transition: filter 0.3s ease;
  }
  
  .forgot-password-form {
	text-align: center;
  }
  .forgot-password-form input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  .forgot-password-form button {
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #007bff;
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin-right: 5px;
  }
  .forgot-password-form button:hover {
	background-color: #0056b3;
  }
  .hidden {
	display: none;
  }

  #reset-password-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	width: 350px;
	height: 300px;
	max-width: 200%;
	backdrop-filter: blur(5px);
	margin-right: 30px;
	transition: filter 0.3s ease;
	display: none;
  }
  .otp-input {
	display: none;
  }
  .back {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 3;
  }
  .back img {
  opacity: 1;
  border: none;
  width: 40px;
  }
  .btn {
	display: flex;
	justify-content: center;
	gap: 20px;
	text-align: center;
  }
  .btn button {
	text-align: center;
  }
  .password-input-container {
	position: relative;
  }
  
  .password-input-container .password-toggle-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
  }